<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Kakao Login Test</h1>
	<span th:if="${userId==null}">
		<a href="https://kauth.kakao.com/oauth/authorize?client_id=87c054c34eca4ca3541ab083e086cd12&redirect_uri=http://localhost:8070/login&response_type=code">
			<img src = "img/kakao_login_medium_narrow.png">
		</a>
	</span>
	<span th:if="${userId!=null}">
		<!-- <form name="logout" action="https://kauth.kakao.com/oauth/logout?client_id=87c054c34eca4ca3541ab083e086cd12&logout_redirect_uri=http://localhost:8070">
			<input type="submit" value="로그아웃">
		</form> -->
		<a href="https://kauth.kakao.com/oauth/logout?client_id=87c054c34eca4ca3541ab083e086cd12&logout_redirect_uri=http://localhost:8070">
			<button>테스트</button>
		</a>
	</span>
</body>
</html>